/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: lightgreen;
  --matr-navbar-bg-rgb: 12, 12, 139;
  --matr-navbar-text-color: green;
  --matr-navbar-highlight-text: blue;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background-size: cover;
  background: url("https://manoa.hawaii.edu/news/attachments/img11541_11869l.jpg");
  color: yellow;
}
h1 {
  color: white;
}

p {
  color: black;
}


body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

#color {
  color: white;
}

#buttonSpace {
  background-color: green;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px 10px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
}

#homeButton {
  cursor: pointer;
  background-color: green;
  color: white;
}

.category-img {
  width: 200px;
  height: 200px;
  border: 5px solid black;
}

.category-text {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.category-link {
  text-decoration: none;
}